/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
    
html {
    scroll-behavior: smooth;        
}

/*HEADER*/
.header {
    background-color: #fff;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
}

.logo img {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.navbar a {
    text-decoration: none;
    color: #0A1C69;
    font-weight: 700;
    padding: 1em;
    transition: .5s;
}

.navbar a:hover {
    transform: translateY(-5px);
}

/*HOME*/
.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/bg-home01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    background-color: #0A1C69;
    border-radius: 50%;
    filter: blur(50px);
    opacity: .8;
    z-index: 0;
}

.text-container-home {
    text-align: center;
    width: 50%;
    position: relative;
    z-index: 1;
}

.text-container-home h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: "Roboto Serif", serif;
    font-size: 4em;
    font-weight: 300;
    margin-bottom: .2em;
}

.text-container-home p {
    color: #fff;
    font-weight: lighter;
}

/*SOBRE*/
.sobre {
    width: 100%;
    min-height: 100vh;
    padding: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.text-container-sobre {
    width: 500px;
}

.text-container-sobre h2 {
    text-transform: uppercase;
    text-align: center;
    color: #0A1C69;
    font-family: "Roboto Serif", serif;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: .2em;
}

.text-container-sobre p {
    color: #0A1C69;
    font-weight: lighter;
    text-align: justify;
}

.img-container-sobre {
    width: 300px;
    border: 3.5px solid #0A1C69;
    border-radius: 5px;
}

.img-container-sobre img {
    width: 100%;
}

/*TESTEMUNHOS*/
.testemunhos {
    width: 100%;
    min-height: 100vh;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testemunhos h2 {
    text-transform: uppercase;
    text-align: center;
    color: #0A1C69;
    font-family: "Roboto Serif", serif;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em;
}

.swiper {
    width: 100%;
    background-color: #eee;
}

.swiper-slide {
    padding: 5% 10%;
}

.swiper-slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0A1C69;
    display: block;
    margin: 0 auto 2em;
}

.swiper-slide p {
    color: #0A1C69;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

.swiper-slide h3 {
    text-align: center;
    color: #0A1C69;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

.swiper-button-prev,
.swiper-button-next {
    color: #0A1C69;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
    color: #0A1C69;
}

/*PEDIDOS DE ORAÇÃO*/
.pedidos-de-oracao {
    width: 100%;
    min-height: 100vh;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.img-container-pedidos-de-oracao {
    width: 400px;
    border: 3.5px solid #0A1C69;
    border-radius: 5px;
}

.img-container-pedidos-de-oracao img {
    width: 100%;
}

.container-pedidos-de-oracao {
    width: 600px;
}

.container-pedidos-de-oracao h2 {
    text-transform: uppercase;
    text-align: center;
    color: #0A1C69;
    font-family: "Roboto Serif", serif;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em;   
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-container, 
.textarea-container {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input-container label, 
.textarea-container label {
    color: #0A1C69;
    font-weight: 700;
}

.input-container input, 
.textarea-container textarea {
    width: 100%;
    padding: 1em;
    outline: none;
    border: 2px solid #0A1C69;
    border-radius: 5px;
    background-color: transparent;
    color: #0A1C69;
}

.textarea-container textarea {
    resize: vertical;
}

.input-container input::placeholder,
.textarea-container textarea::placeholder {
    color: #0a1b6999;
}

.form-btn {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    border: none;
    border-radius: 5px;
    background-color: #0A1C69;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.form-btn:hover {
    background-color: #0A1C6999;
}

/*CONTATO*/
.contato {
    background-color: #0A1C69;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.logo-contato {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: "Roboto Serif", serif;
    font-size: 4em;
    font-weight: 300;
}

.list-contato {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 5%;
    padding-left: 5%;
    border-left: 2px solid #fff;
}

.list-contato li {
    transition: .5s;
}

.list-contato li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

.list-contato li:hover {
    transform: translateX(10px);
}